# APP
APP_HTTP_PORT=8080

# SERVICES

# DB
APP_DB_HOST=postgres
APP_DB_NAME=go-study
APP_DB_USER=go-study
APP_DB_PASSWORD=go-study
APP_DB_PORT=5432
APP_DB_MIGRATIONS_DIR=/app/migrations
APP_DB_SSL_MODE=disable
APP_DB_URL="postgres://${APP_DB_USER}:${APP_DB_PASSWORD}@${APP_DB_HOST}:${APP_DB_PORT}/${APP_DB_NAME}?sslmode=${APP_DB_SSL_MODE}"